<div class="weui-panel weui-panel_access">
    <div class="weui-panel__hd">图文组合列表</div>
    <div class="weui-panel__bd">
        <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg" ng-repeat = "news in newslist">
            <div class="weui-media-box__hd" ng-show="{{news.havePic}}">
                <img class="weui-media-box__thumb" ng-src="{{news.imageurls[0].url}}" alt="">
            </div>
            <div class="weui-media-box__bd">
                <h4 class="weui-media-box__title">{{news.title}}</h4>
                <p class="weui-media-box__desc">{{news.desc}}</p>
            </div>
        </a>
    </div>
    <div class="weui-panel__ft">
        <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
            <div class="weui-cell__bd">查看更多</div>
            <span class="weui-cell__ft"></span>
        </a>    
    </div>
</div>
